{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>

    </style>

{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">


            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Intoduction</li>
            </ol>



        </section>

        <!-- Main content -->
        <section class="content">



            <h1>Orca Ged Application</h1>
            <br>
            <h2>To use hpe haven ondemand API click on "Using the API" in the sidebar menu</h2>
            <h3> - Include manually the file </h3>
            <h3> - Drag & Drop the file </h3>
            <br>
            <h2>To use the Tesseract library click on "Using Tesseract" in the sidebar menu</h2>
            <h3> - Include file </h3>










        </section>
        <!-- right col -->
    </div>
    <!-- /.row (main row) -->
{% endblock %}
